<header>
  <div id="container-menu">
    <a class="nav-item" href="/"><img id="logo-menu" src="/images/logo-colorida.png" alt="Logo da Célula"></a> 

    <nav>
      <ul id="nav-menu">
        <li><a class="nav-item" href="">Nossos&nbsp;trabalhos</a>
          <ul class="nav-submenu">
            <li><a class="subnav-item" href="/nossostrabalhos/artigos">Artigos</a></li>
            <li><a class="subnav-item" href="/nossostrabalhos/produtos">Produtos</a></li>
            <li><a class="subnav-item" href="/nossostrabalhos/projetos">Projetos</a></li>
          </ul>
        </li>

        <li><a class="nav-item" href="/acelula">A&nbsp;Célula</a></li>
        
        <li><a class="nav-item" href="/faleconosco">Fale&nbsp;conosco</a></li>   

        <div class="animation"></div>

        <li><a class="btn-app" style="background-color: #2062af;" id="btn-guia" href="/guia">GUIA DE MÉTODOS</a></li>
        
      </ul>  
    </nav>
  </div>
</header>  