<header>
  <div id="container-menu">
    <a class="nav-item" id="home-menu" href="#"><img id="logo-menu" src="/images/logo-colorida.png" alt="Logo da Célula"></a> 

    <nav>
      <ul id="nav-menu">
        <li><a class="nav-item" id="trabalhos-menu" href="#">Nossos&nbsp;trabalhos</a></li>

        <li><a class="nav-item" id="conheca-menu" href="#">Conheça&nbsp;a&nbsp;Célula</a></li>
        
        <li><a class="nav-item" id="fale-menu" href="#">Fale&nbsp;conosco</a></li>   

        <div class="animation"></div>

        <li><a class="btn-app" style="background-color: #2062af;" id="btn-guia" href="/guia">GUIA DE MÉTODOS</a></li>
        
      </ul>  
    </nav>
  </div>
</header>  
