@charset "UTF-8";
/*p=25*/
/*p2=18*/
/*340x420*/

/* font-family: 'Fira Sans', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --font: 'Fira Sans', sans-serif;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*--cores--*/
    --cor1:#FFFFFF;
    --cor2:#0066CC;
    --cor3:#009FB0;
    --cor4:#FF9900;
    --cor5:#545067;     
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

a{
    text-decoration: none;
}

div.container{
    margin: 0;
    padding: 0;
}

a:hover{
    opacity: 0.8;
    text-decoration: none;
}


a:focus{
    text-decoration: none;
}


.btn-app{
    padding: 12px 15px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    border: none;  
}

.btn-app:hover{
    opacity: 0.8;
    color: white;
}

body{
    background-color: #08909f;
    overflow-x: hidden;
}

main{
    margin: 0 auto;
}
/* Estilo de navegação*/


header{
    width: 100%;
    position: fixed;  
    background-color: white;
    box-shadow: 2px 5px 10px 5px rgb(0 0 0 / 15%);
    top: 0px;
    
}

#container-menu{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#container-menu > a{
    color: black;
}

#container-menu ul li{
    font-size: 17px;
    font-weight: var(--font-normal);
    text-align: center;
    float: left;
}

#container-menu ul ul{
    display: none;
    background-color: var(--cor1);  
    box-shadow: 3px 12px 10px 0px rgb(0 0 0 / 15%);
    border-radius: 0px 0px 20px 20px;  
}

#container-menu ul li:hover>ul{
    display: grid;
    position: relative;
}

#nav-menu{
    display: block;
    align-items: center;
    margin: 0px auto;
    height: 50px;
}

.nav-item{
    margin: 0 25px;
}

#nav-menu li{
    list-style: none;
    height: 50px;
    line-height: 50px;
}

.nav-submenu{
    display: block;
}

.nav-item{
    color: var(--cor3);
}

.subnav-item {
    color: var(--cor4);
}

#btn-guia{
    margin: 0 25px;
}

nav .animation{
    visibility: hidden;
    position: absolute;
    height: 2px;
    bottom: 0;
    z-index: 1;
    background-color: #08909f;
    width: 100px;
    border-radius: 8px;
    transition: all .5s ease 0s;
}


    /*Animação em hover*/
    nav > a:nth-child(1):hover~.animation{
        visibility: visible;
        width: 50px;
    }

    nav > a:nth-child(2):hover~.animation{
        visibility: visible;
        width: 50px;
        left: 278px;
    }

    nav > a:nth-child(3):hover~.animation{
        visibility: visible;
        width: 50px;
        left: 459px;
    }

    /*Animação em focus*/
    nav > a:nth-child(1):focus~.animation{
        visibility: visible;
        width: 50px;
        left: 89px;
    }

    nav > a:nth-child(2):focus~.animation{
        visibility: visible;
        width: 50px;
        left: 278px;
    }

    nav > a:nth-child(3):focus~.animation{
        visibility: visible;
        width: 50px;
        left: 459px;
    }


/*Estilo dos DIV's*/

#sessoes{
    display: grid;
    margin: 0;
    width: 100vw;
}

.sessao{
    width: 100vw;
    height: 100vh;
}

/*Configurando titulos, descrições e traços*/
.titulos{
    margin: 0;
    font-weight: bold;
    font-size: 35px; 
}

.descricao{
    margin: 0;
    font-weight: normal;
    font-size: 20px;
}

.traco1{
    margin: 10px 0px;
    border: none;
    background-color: var(--cor1);
    width: 60px;
    height: 6px;

}
.traco2{
    margin: 10px 0px;
    border: none;
    background-color: var(--cor2);
    width: 60px;
    height: 6px;
}

.traco3{
    margin: 10px 0px;
    border: none;
    background-color: var(--cor4);
    width: 60px;
    height: 6px;
}

/*Configurando página incial*/

.tipo-trabalho{
    font-weight: bold;
    font-size: 22px;
}

#inicio{
    height: 88vh;
    color: white;
    background-color: #08909f;
    display: flex;
    justify-content: space-between;
}

#inicio-conteudo{
    margin-top: 15vh;
    width: 860px;
    margin-left: auto;
    margin-right: auto;   
}

#inicio-conteudobox{
    width: 380px;
}

#inicio-conteudo p{
    font-size: 20px;
    font-weight: var(--font-normal);
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
}
#acesse-guia{
    padding: 15px 25px;
    font-size: 18px;
    background-color: #f7961e;
    
}

/*Nossos trabalhos e seus botões*/

#trabalhos{
    height: 105vh;
    background-color: white;
    color: var(--cor2); 
}

#trabalhos h1{
    padding-left: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
}

#trabalhos->h1{
    margin-left: 0;
}

#trabalhos-conteudo{ 
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    width: 860px;
}

#trabalhos-cards{
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    width: 860px;
    display: flex;
    text-align: center;
}

#trabalhos-conteudo p{
    font-size: 18px;
    font-weight: var(--font-normal);
    text-align: left;
}

#nossos-trabalhos>img{
    margin: 20px;
    width: 100px;
    height: 100px;
    
}

#nossos-trabalhos> aside{
    margin: auto;
    padding: 20px;
}

#bloco1{
    width: 340px;
    height: 420px;
    color: #1f62af;
    padding: 20px;
    background-color: #e3f1ff;
    border-radius: 20px;
}

#bloco2{
    width: 340px;
    height: 420px;
    margin-left: 30px;
    padding: 20px;
    color: #027a89;
    background-color: #e5fcff;
    border-radius: 20px;
}

#bloco3{
    width: 340px;
    height: 420px;
    margin-left: 30px;
    padding: 20px;
    color: #cf7b29;
    background-color: #fff5e5;
    border-radius: 20px;
}

/*Parte do conheça a célula*/

#conheca{
    height: 100vh;
    background-color: #fef7e8 ; 
    
}

.tituloConheca{
    color: var(--cor2);
    font-size: 35px;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 50px;
}

#conheca-conteudo{
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    width: 860px;
}



.container-celulatexto{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: -5px;
}

.container-celulatexto p{
    width: 450px;
    margin-top: 97px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: var(--font-normal);   
}

#conheca-conteudo > h1{
    color: #2062af;
}

#btn-historia{
    background-color: var(--cor4);
    font-size: 18px;
    padding: 15px 25px;
    margin-top: 60px;  
}

/*Configurando o fale conosco*/
#faleconosco-page{
    height: 92.4vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center; 
}

#faleconosco{
    height: 88vh;
    background-color: white;
    display: flex;
    align-items: center; 
}


#faleconosco-box{ 
    margin-left: auto;
    margin-right: auto;
    width: 860px;
}

#faleconosco-conteudo{
    display: flex;
    align-items: center; 
}
#faleconosco-conteudo h1{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#faleconosco-conteudo p{
    color: var(--cor2);
    font-size: 18px;
}

#formulario-contato{
    position: relative;
    left: 5%;
    top: 29%;
    margin-left: 50px;
    padding: 20px;
    width: 400px;
    margin-left: 140px;
    background-color: #F2F6FA;
    border-radius: 20px;
    text-align: center;  
}
#formulario-contato form{
    width: 100%;
    padding: -1px 50px;
    box-sizing: border-box;
}

#formulario-contato input{
    position: relative;
    width: 100%;
    padding: 0 10px;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    border-radius: 20px;
    
}
#formulario-contato textarea{
    position: relative;
    width: 100%;
    padding: 0 5px;
    border: none;
    margin-bottom: 10px;
    border-radius: 20px;
    
}
.txtField{
    padding: 2px;
}
.txtField form{
    width: 100%;
    position: relative;
    margin: 30px;
}
fieldset{
    border: none;
    width: 320px;
}

#formulario-contato>#formulario-msg{
    height: 200px;
}

/*Configurando botões na página do guia*/
#buttons-guia{
    padding-top: 20px;
}

/*Configurando as páginas de dentro da aplicação*/
.pages{
    width: 100vw;
    margin: 0 auto;
    justify-content: center;
}

.pages-conteudo{
    display: grid;
    align-items: center;
    margin: 0 auto;
    background-color: var(--cor1);
}


.header-img{
    width: 100vw;
    height: 100%;   
}

.trabalhos-header{
    background-color: var(--cor3);
}

#traco-produtos{
    margin: 10px 0px;
    border: none;
    background-color: var(--cor4);
    width: 150px;
    height: 6px;
}


.pages-conteudo h1{
    color: var(--cor1);
}

.pages-conteudo p{
    color: var(--cor1);
}


.trabalhos-desc{
    position: grid;
    height: 150px;
    padding: 20px 25px;
    background-color: #007E8C;

}

#produtos-info{
    margin: 100px 0;
    text-align: center;
}

#produtos-info h1{
    color: var(--cor5);
}

#produtos-info p{
    color: var(--cor5);
}

#icons-produtos ul{
    display: inline-flex;
    align-items: center;
}

#icons-produtos ul li{
    display: block;
    align-items: center;
    margin: 0 15px;
}

.produtos-render{
    display: grid;
    width: 1080px;
    padding: 40px 80px;
}

.produtos-render > h1,p{
    color: var(--cor5);
}


#produtos-card{
    display: inline-flex;
    align-items: center;
    width: 1080px;
    height: 400px;
    margin: 50px auto;
    padding: 40px 80px;
    background-color: #F2F6FA;
    border-radius: 20px;
    box-shadow: 3px 12px 10px 0px rgb(0 0 0 / 8%);
}

#produtos-tag{
    margin-right: 60px;
}
#produtos-texto{
    display: block;
}

#produtos-texto > h1{
    color: var(--cor5);
}

#produtos-texto > p{
    color: var(--cor5);
}

.icon-mais{
    padding-left: 8px;
}