<%- contentFor('main') %>

<div class="pages">
    <div class="pagina-building">
        <p><strong>PÁGINA EM CONSTRUÇÃO</strong>
        <br>
        Até o presente momento (01/09/2021) não foi nos repassado o conteudo que estaria nessa page, então resolvemos não construir algo genérico e aguardar.</p>
    </div>
</div>