<%- contentFor('main') %>

<div class="pages">
    <div class="pages-conteudo">
        <div class="conteudo">
            <div class="trabalhos-header">
                <img class="header-img" src="../images/header-produtos.png" alt="">
                <div class="trabalhos-desc">
                    <h1 class="tituloTrabalhos">Artigos</h1>
                    <hr id="traco-produtos">
                    <p class="descricao">Artigos desenvolvidos por alunos dentro da Célula.</p>
                </div>
            </div>
            <div id="produtos-info">
                <h1>Aqui você vai encontrar...</h1>
                <div id="icons-produtos">
                    <ul>
                        <li>
                            <img src="../images/icones/icon-ux.png" alt="">
                            <p>UX</p>
                        </li>
                        <li>
                            <img src="../images/icones/icon-jogos.png" alt="">
                            <p>JOGOS DIGITAIS</p>
                        </li>
            
                        <li>
                            <img src="../images/icones/icon-ihc.png" alt="">
                            <p>IHC</p>
                        </li>
                        <li>
                            <img src="../images/icones/icon-app.png" alt="">
                            <p>APP</p>
                        </li>
                        <li>
                            <img src="../images/icones/icon-catalogo.png" alt="">
                            <p>CATÁLOGO</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
