<%- contentFor('main') %>

<div id="faleconosco-page">
    <div id="faleconosco-box">
        <div id="faleconosco-conteudo">
            <div id="faleconosco-contato">
                <h1 class="titulos" style="color: #2062af;">Dúvidas?
                    <br>Quer fazer parte
                    <br>do nosso time?
                    <br>Mardar mimos?
                </h1>
                <h1 class="titulos" style="color: #0c9eaf;">Fala com a gente!</h1>
                <div id="container-redessociais">
                    <a href=""><img src="../images/insta.png" alt="Insta da Célula"></a>
                    <a href=""><img src="../images/youtube.png" alt="Youtube da célula"></a>
                    <a href=""><img src="../images/local.png" alt="Local da Célula"></a>
                    <a href=""><img src="../images/facebook.png" alt="Facebook da Célula"></a>
                </div>
                <br>
                <p>ticiane.monitoria@gmail.com</p>
            </div>
            <div id="formulario-contato">
                <div id="caixaContato">
                    <form action="https://api.staticforms.xyz/submit" method="POST">
                        <input type="hidden" name="accessKey" value="12ac3471-7613-4c34-bd1c-c63aa2b0909a">

                        <input type="text" name="name" placeholder=" Nome">
                        <input type="text" name="email" placeholder=" E-mail">
                        <select name="subject" name="formAssunto" id="formAssunto">
                            <option value="none">Assunto</option>
                            <option value="duvidas">Dúvidas</option>
                            <option value="pedido">Pedido de Materiais</option>
                            <option value="proejtos_colab">Projetos e Colaboração</option>
                            <option value="outros">Outros</option>
                        </select>
                        <textarea name="message" id="formMsg"  placeholder=" Mensagem" rows="10"></textarea><br>

                        <input style="background-color: #2062af;" type="submit" class="btn btn-app" value="Enviar">
                    </form>
             </div>
        </div>
    </div>
</div>
