<%- contentFor('main') %>

<div class="pages" id="guiastart">
    <div id="introducao-guia">
        <img src="/images/ilustracoes/ilustra-metodos.png" alt="Introdução guia">
        <div id="introducao-box">
            <h1 class="texto-verde">Guia de Métodos IHC</h1>
            <hr id="traco-verde">
            <br>
            <p id="texto-introducao">Clique nas opções de acordo com suas necessidades. Ao final, iremos sugerir métodos de avaliação mais adequados a você e ao seu projeto.
            <br><br>
            <strong>Boa jornada!</strong></p>
        </div>
    </div>
    <div class="guiastart-box">
        <div id="question-guia" class="hide">
            <div id="question"></div>
            <div id="answer-buttons" class="button-grid">
            </div>
        </div>
        <div class="controls-guia">
            <button id="start-btn" class="start-btn btn">Começar o guia!</button>
            <button id="next-btn" class="next-btn btn hide">Next</button>
        </div>
    </div>
</div>
