<%- contentFor('main') %>

<div class="pages" id="guiastart">
    <div id="introducao-guia">
        <img src="/images/ilustracoes/ilustra-metodos.png" alt="Introdução guia">
        <div id="introducao-box">
            <h1 class="texto-verde">Guia de Métodos IHC</h1>
            <hr id="traco-verde">
            <br> 
            <p id="texto-introducao">Clique nas opções de acordo com suas necessidades. Ao final, iremos sugerir métodos de avaliação mais adequados a você e ao seu projeto.
            <br><br>
            <strong>Boa jornada!</strong></p>
        </div>
    </div>
    <div class="guiastart-box">
        <div class="containerQ pergunta">
            <div id="box-quest">
                <div id="question-container" class="hide">
                    <div id='header-sugestao' class='hide'>Sugestão</div>
                    <div id='question-header' style="display: flex;">
                    <img id='question-icon' src='../images/icones/icon-1.png' height='70px' width="70px">
                    <div id="question"></div>
                </div>
                <!-- <hr> -->
                    <div class='hide sugestao-body'>a</div>
                    <div id="answer-buttons" class="button-grid">
                    </div>
                    <div id='botoes-sugestao' class='hide'>
                        <div style='display:flex; justify-content: center; align-items: center;'>
                            <button class='start-btnQ'>SAIBA MAIS</button><a href="/guiastart"><img src='../images/icones/icon-restart.png' height='50px' width='50px'></a>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <button id="start-btnQ" class="start-btnQ btnQ">COMEÇAR O GUIA</button>
                </div>
            </div>
        </div>
    </div>
</div>
