<%- contentFor('main') %>

<div class="pages">
            <div id="inicio-conteudo">
                <h1 class="titulosBranco">Guia de Métodos de IHC</h1>
                <hr class="traco1">
                <div id="inicio-conteudobox">
                    <img src="../images/ilustracoes/ilustra-abre-guia.png" alt="">
                    <div id="text-inicio">
                        <p>As avaliações de Interação-Humano Computador tem o objetivo de entender a qualidade de interação que um sistema ou artefato computacional oferece aos seus usuários. A partir delas, problemas de IHC podem ser corrigidos antes do produto ser lançado, garantindo a qualidade e acessibilidade do seu sistema.
                        <br><br><strong>Comece sua jornada! </strong></p>
                        <a class="btn-app" id="acesse-guia" href="/guia">COMEÇAR <img src="../images/icones/seta-iniciar-guia.png" alt=""></a>
                    </div>             
            </div>
</div>
